---
// components
import Section from "../elements/Section.astro";
import Text from "../elements/Text.astro";
---

<Section 
    aria-label="Introduction"
    title="Hey there!"
    titleHeading="Introduction"
>
    <Text variant={'normal'} class="text-base-400">
        Hi, I’m Marvellous Chukwukelu — a software developer focused on backend engineering and data-driven systems. I build reliable software and work with data to solve complex problems. I also have a strong interest in applying empirical methods to improve software ecosystems.
    </Text>
</Section>