---
// components
import Section from "../../elements/Section.astro";
import Text from "../../elements/Text.astro";
---

<Section
    aria-label="Biography"
     title="Who Am I?"
    titleHeading="Data. Systems. Applied Research."
>
    <Text variant={'normal'} class="text-base-400">
        Hi, I’m Marvellous Chukwukelu — a software developer focused on backend engineering and data-driven systems. My work centers on building reliable software. I have experience with data engineering as well as building fault-tolerant backend systems. In all I do, I try to place significant emphasis on robustness, reproducibility, modularity and overall thoughtfulness when it comes to system design.
    </Text>

    <Text variant={'normal'} class="text-base-400">
        Alongside engineering, I am interested in applied research on software ecosystems and developer behavior. My most recent research project examined how toxic interactions affect developer retention in open-source gaming projects. To effectively study that, I used a wide variety of statistical techniques (survival analysis in particular) which reflects my broader interest in using empirical methods to study and improve complex technical systems.
    </Text>
</Section>