---
// components
import Section from "../../elements/Section.astro";
import EducationCard from "../../elements/EducationCard.astro";


// content collection
import { getCollection } from "astro:content";
const education = await getCollection("education");
---

<Section 
    aria-label="Education"
    title="Where Have I Studied?"
    titleHeading="EDUCATION"
>
    {
            education.map((entry) => (
                <EducationCard 
                    title={entry.data.title}
                    timeline={entry.data.timeline}
                    school={entry.data.school}
                />
            ))
        }
</Section>